{{outlet}}
<header class = "jumbotron">
  <h1><a href="activities"> Activities <img src="/images/skull.jpg" alt="skull" style="width:80px;height:80px;"></a></h1>
  <h2><a href="kids">Kids </a> | </h2>
  <h2> <a href="adults"> 21 and Over</a></h2>
</header>
<center>
  <h2>21 and Over</h2>
</center>
<br>


<div class="activities">
<div class="row">
  {{#each model.activities as |activity| }}
  <div class="col-md-4">
    {{#if (eq activity.kid false)}}
      <h3>{{activity.name}} <h5>{{activity.city}}, OR </h5></h3>
      <img src="{{activity.image}}" class = "img-round" />
    {{/if}}
  </div>
  {{/each}}
</div>

</div>
<br>
<br>
<br>
<br>
{{new-activity categories=model.categories save = "save"}}
