{{outlet}}
<header class = "jumbotron">
  <h1><a href="activities"> Activities <img src="/images/skull2.jpg" alt="skull" style="width:80px;height:80px;"></a></h1>
  <h2><a href="kids">Kids </a> | </h2>
  <h2> <a href="adults"> 21 and Over</a></h2>
</header>

<center>
<h2>Kids</h2>
</center><br>

{{new-activity categories=model.categories save = "save"}}

<div class="activities">

  {{#each model.activities as |activity| }}
  <div class="col-md-4">
    {{#if activity.kid}}
      <h3>{{activity.name}} <h5> {{activity.city}}, OR </h5></h3>
      <img src="{{activity.image}}" class = "img-round" />
    {{/if}}
  </div>
  {{/each}}

</div>
